.contectdata {
  color: #0c4e99;
}

.contectdata:hover {
  background-image: linear-gradient(#0c4e99 0%, #0c4e99 100%);
  color: #fff;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #fff;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}

.text-white {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    "Arial Narrow", Arial, sans-serif;
}

.menu_padding {
  padding-top: 10px;
}

.nav2 {
  position: sticky;
  top: 50px;
  z-index: 5;
}

@media only screen and (max-width: 619px) and (min-width: 200px) {
  .nav2 {
    position: sticky;
    top: 150px;
    z-index: 5;
  }
}

.text-primary {
  font-family: "Chivo", sans-serif !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
li,
ol,
ul,
label {
  font-family: "Chivo", sans-serif !important;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 1px #0c4e99;

  /* background-image: linear-gradient(#0c4e99, #0c4e99); */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.btn {
  background-image: linear-gradient(#0c4e99, #0c4e99);
  color: #fff;
}

/* popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  border-radius: 18px;
  padding: 20px;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 1px #0c4e99;
  border-radius: 20px;
  padding: 20px;

  /* background-image: linear-gradient(#0c4e99, #0c4e99); */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.btn {
  background-image: linear-gradient(to left #0c4e99, #0c4e99);
  color: #fff;
}
